{% extends "base.html" %}

{% block content %}
<div class="starter-template">
    <h1>Check IP</h1>
    <div class="row">

        <form method="post" action="." enctype="multipart/form-data">
            <div class="col-md-12">
                <form class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control input-lg" id="ip" name="ip" rows="3"
                               placeholder="123.123.123.123,1.1.1.1,2.2.2.2,3.3.3.3"></textarea>
                    </div>


{#                    <div class="form-group">#}
{#                        <label for="exampleInputFile">Or upload as CSV file</label>#}
{#                        <input type="file" id="exampleInputFile">#}
{#                      </div>#}


                    <div class="form-group">
                        {{ form }}
                        <p class="help-block">Spaces and break lines will be replaced by commas.</p>
                      </div>




                    <button type="submit" class="btn btn-default btn-lg">Start check</button>
                </form>
            </div>
        </form>

    </div>





    {% if check %}
    <hr>


    <div class="row">
        <div class="col-md-12">

            {{ check }}

        </div>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function(){

    });
    </script>
{% endblock %}


